
<h1>Episode Date:<h1>

<%= @episode.date%>
<ul>
  <li>
<p><%@episode.guests.each do |guest|%></p>
<%=link_to guest.name, guest_path(guest.name)%>
  </li>
</ul>
<%end%>

<%# GUEST NAMES ARE SHOWING UP %>




<%# - Episode date
- A list of the guests who were on that episode
- Each guest's name should link to the Guest Show page %>